[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
trio = "==0.9.0"
asks = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.6"
