[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
trio = "*"
asks = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.6"
